/* RESETCSS https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ACTUAL STYLES */

:root {
  --side-margin: 2rem;
  --gap: 1.5rem;
  --red: hsl(12, 100%, 60%);
}

body {
  font-size: 12px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
  gap: var(--gap);
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  margin-top: 8px;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.header__text {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 2rem;
}

.item-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 250px));
  gap: 1rem;
  align-items: center;
}

.item-card {
  display: flex;
  transition: all 0.1s ease-in-out;
}

.item-card:hover {
  filter: brightness(80%);
}

.item-card:hover .item-card__figcaption {
  opacity: 1;
}

.item-card__figure {
  position: relative;
}

.item-card__figcaption {
  opacity: 0;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  color: hsl(0, 0%, 100%);
  padding: 8px;
}

.item-card__figcaption > a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 100%);
}

.items {
  margin: 0;
  list-style: none;
}

.item {
  background-color: hsl(0, 0%, 85%);
  width: max(100px, 15vw);
  margin: 5px 0;
  padding: 4px 6px;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.footer {
  margin-bottom: calc(var(--side-margin) + 0.5rem);
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer__text {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

@media only screen and (max-width: 768px) {
  .item-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .item-cards {
    grid-template-columns: 1fr;
  }
}
